/* Global */

* {
  font-family: "PixelFont", sans-serif;
}

.RetroButton {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  min-width: 150px;
  border: 2px dashed #fff;
  cursor: help;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.RetroButton:hover {
  animation: colorFlash 0.3s infinite;
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #ff0000;
}


.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.navbar {
  background-color: transparent;
  padding: 20px;
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  transition: transform 0.2s ease-out; /* Add a smooth transition effect for wobble */
  z-index: 1; /* Make sure the navbar is above other elements */
  mix-blend-mode: exclusion;
  color: white;
}

/* Apply a wobble effect on scroll */
.navbar.wobble {
  transform: translateX(-5px); /* Move the navbar slightly to the left */
  animation: wobble 0.5s ease-in-out infinite; /* Apply the wobble animation */
}

@keyframes wobble {
  0%, 100% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
  display: flex; /* Use flex display to center items */
  align-items: center; /* Center vertically */
}

.nav-item:last-child {
  margin-right: 0;
}

.Nactive {
  border-bottom: 2px solid white;
  transition: 0.3 ease;
}

/* Add a hover effect to the links */
.nav-item a:hover {
  color: white;
  text-decoration: none;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "PixelFont", sans-serif;
  font-size: 24px;
  padding: 5px 10px;
  display: flex; /* Center items within the link */
  align-items: center; /* Center vertically */
}

.nav-item a.Nactive {
  padding-top: 0;
  color: #ff0000;
  font-size: 64px;
  animation: blink-text 1s step-start 0s infinite;
  -webkit-animation: blink-text 2s step-start 0s infinite;
}

@keyframes blink-text {
  0% {
    color: transparent; /* Start with transparent color */
  }
  50% {
    color: #ff0000; /* Transition to red color */
  }
  100% {
    color: transparent; /* Back to transparent color */
  }
}

@-webkit-keyframes blink-text {
  0% {
    color: transparent;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: transparent;
  }
}

@keyframes colorFlash {
  0% {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }
  25% {
    background-color: #ff0000;
    color: #fff;
    border-color: #fff;
  }
  50% {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }
  75% {
    background-color: #ff0000;
    color: #fff;
    border-color: #fff;
  }
  100% {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }
}

@font-face {
  font-family: "PixelFont";
  src: url("/fonts/pixel.otf"); /* Replace with the actual font path */
  /*src: url("/fonts/pixel.otf"); !* Replace with the actual font path *!*/
}


@font-face {
  font-family: "Josuel";
  src: url("/fonts/josulaschrift.otf"); /* Replace with the actual font path */
  /*src: url("/fonts/pixel.otf"); !* Replace with the actual font path *!*/
}

