.name {
    font-family: "PixelFont", sans-serif;
    font-size: 82px;
    color: #fff;
    margin: 0;
    margin-right: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 2vw;
  transform-style: preserve-3d;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  position: relative;
}

.card-grid.active {
  z-index: 99;
}

.self-introduction {
  background-color: #000000;
  padding: 2%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'VT323', monospace;
  color: #f4f4f4;
}

.self-introduction-heading {
  font-family: "Josuel", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.self-introduction-text {
  font-family: "Josuel", sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.skills-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills-heading {
  font-family: "PixelFont", sans-serif;
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  font-family: "PixelFont", sans-serif;
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
  transform: translateY(-10px);
}

.skill-icon {
  font-size: 48px;
  margin-bottom: 10px;
}


/* Looper styles */
@keyframes slideAnim {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .looper {
    width: 100%;
    overflow: hidden;
  }
  
  .looper__innerList {
    display: flex;
    justify-content: center;
    width: fit-content;
  }
  
  .looper__innerList[data-animate="true"] .looper__listInstance {
    animation: slideAnim linear infinite;   
  }
  
  .looper__listInstance {
    display: flex;
    width: max-content;
    animation: none;
  }

  span{
    color: red;
  }

/* Assuming xs is 600px or less */
@media (max-width: 899px) {
  .portrait-container {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
  }
}

/* For md and lg */
@media (min-width: 600px) and (max-width: 1279px) {
  .portrait-container {
    width: 100%; /* Adjust the width as needed */
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
}
